<!DOCTYPE html>
<html>

<head>
    <title>サンプルIndexページ</title>
</head>

<body>
    {% if object_list %}
    <ul>
        {% for question in object_list %}
        <li><a href="{% url 'polls:detail' question.id %}"> {{ question.question_text }}</a></li>
        <ul>
            {% for choice in question.choice_set.all %}
            <li>{{ choice.choice_text }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</body>

</html>